<section id="invoice-details">
  <h2><%= "Invoice ##{@invoice.id}"%></h2>
  <p><%= "Status: #{@invoice.status}"%></p>
  <p><%= "Created on: #{@invoice.created_at.strftime("%A, %B %d, %Y")}"%></p>
  <h4>Customer:</h4>
  <p><%="#{@invoice.customer.first_name} #{@invoice.customer.last_name}"%></p>
</section>

<section id="invoice-item-details">
  <h4>Items on the Invoice:</h4>
  <ul>
    <% @invoice.items.each do |item| %>
      <p><%= item.name %></p>
      <li>Quantity: <%= item.num_sold(@invoice) %></li>
      <li>Unit Price: <%= number_to_currency(item.price_sold(@invoice), format: '%u%n', unit: '$') %></li>
      <li>Status: <%= item.invoice_status(@invoice) %></li>
    <% end %>
  </ul>
</section>