<div id= "three_holidays">
  <h2>Upcoming Holidays</h2>
  <% @three_holidays.each do |holiday| %>
    <p><%= holiday.name %>, <%= holiday.date %></p>
  <% end %>
</div>

<h1> Coupons: </h1>

<% @coupons.each do |coupon| %>
  <div id="coupon-<%=coupon.id%>">
    <p><%= link_to coupon.name, "/merchants/#{@merchant.id}/coupons/#{coupon.id}"%>
    <p>Discount Amount: <%=coupon.display_discount%></p>
<% end %>
  </div>

<div id="active-coupons">
  <h2>Active Coupons: </h2><% @coupons.active_coupons.each do |coupon| %>
    <p><%= coupon.name %></p>
  <% end %>
</div>

<div id="deactivated-coupons">
  <h2>Deactivated Coupons: </h2><% @coupons.inactive_coupons.each do |coupon| %>
    <p><%= coupon.name %></p>
  <% end %>
</div>



<%= link_to "Create New Coupon",  "/merchants/#{@merchant.id}/coupons/new"%>