<p>Name: <%= @coupon.name %></p>
<p>Code: <%= @coupon.coupon_code %></p>
<p>Discount Value: <%= @coupon.discount%></p>
<p>Status: <%= @coupon.status %></p>
<p>Coupon Use Count: <%= @coupon.times_used %></p>
