<h2>My Items</h2>
<ul>
<% @merchant.items.each do |item| %>
  <section id="item-<%= item.id %>">
    <li><%= link_to item.name, merchant_item_path(@merchant, item) %></li>
      
      <% if item.enabled? %>
        <%= form_with model: item, url: status_update_merchant_item_path(@merchant, item), method: :patch do |form| %>
          <%= form.hidden_field :status, value: "disabled" %>
          <%= form.submit "Disable" %>
        <% end %>
        <%= form_with model: item, url: status_update_merchant_item_path(@merchant, item), method: :patch, class: "hidden-form" do |form| %>
          <%= form.hidden_field :status, value: "enabled" %>
          <%= form.submit "Enable" %>
        <% end %>
      <% else %>
        <%= form_with model: item, url: status_update_merchant_item_path(@merchant, item), method: :patch, class: "hidden-form" do |form| %>
          <%= form.hidden_field :status, value: "disabled" %>
          <%= form.submit "Disable" %>
        <% end %>
        <%= form_with model: item, url: status_update_merchant_item_path(@merchant, item), method: :patch do |form| %>
          <%= form.hidden_field :status, value: "enabled" %>
          <%= form.submit "Enable" %>
        <% end %>
      <% end %>
  </section>
<% end %>
</ul>